<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Exercises</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let exercise of exercises" [class.selected]="exercise ===
    selectedExercise">
      <div class="card">
        <div class="card-header">
          {{exercise.id}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{exercise.name}}</h5>
          <p class="card-text">{{exercise.date}}</p>
          <a routerLink="/exercise/{{exercise.id}}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

  </div><!-- /.row -->

</div>
<!-- /.container -->
